{% layout "emails/notifications/customer/layouts/layout.liquid" %}
{% block content %}
<p>
    Hi {{user.firstName}},
</p>
<p class="mt-2 leading-loose text-gray-600 dark:text-gray-300">
    This is your verification code:
</p>
<div class="flex items-center mt-4 gap-x-4">
    {% assign chars = user.forgotPasswordToken | split: '' %}
    {% for char in  chars%}
    <p class="flex items-center justify-center w-10 h-10 text-2xl font-medium text-blue-500 border border-blue-500 rounded-md dark:border-blue-400 dark:text-blue-400 ">{{ char }}</p>
    {% endfor %}
</div>

<p class="mt-4 leading-loose text-gray-600 dark:text-gray-300">
    This code will only be valid for the next 5 minutes. If the code does not work, you can use this login verification link:
</p>

<button class="px-6 py-2 mt-6 text-sm font-medium tracking-wider text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
    Verify email
</button>
{% endblock %}
